*, *:before, *:after {
	outline: none;
}

html {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 16px;
	font-weight: 300;
	line-height: 1.5;
	color: #fff;
}

body {
	position: relative;
	background-color: #111;
}

#root {
  min-height: 100%;
  position: relative;
}

.main {
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 50px;
}

footer {
  background: $blue-dark;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 150px;
  text-align: center;
}

.active {
  color: $blue;
}

h1 {
  color:#fff;
  font-weight: 300;
}

/*** nav bar ****/

.nav {
  height: 50px;
  width: 100%;
  background-color: #222;
  position: relative;
  border-radius: 6px;
  border-bottom: #333 solid 4px;
  z-index: 10;
  padding: 5px;
}

.nav > .nav-header {
  display: inline;
}

.nav > .nav-header > .nav-title {
  display: inline-block;
  font-size: 32px;
  color: #f1c40f;
  padding: 0px 10px 0px 10px;
}

.nav > .nav-header > .nav-title small {
  font-size: 17px;
}

.nav > .nav-btn {
  display: none;
}

.nav > .nav-links {
  display: inline;
  float: right;
  font-size: 18px;
}

.nav > .nav-links > a {
  display: inline-block;
  padding: 13px 10px 13px 10px;
  text-decoration: none;
  color: rgb(172, 172, 172);
  border-radius: 6px;
}

.nav > .nav-links > a:hover {
  background-color: rgba(0, 0, 0, 0.5);
}

.nav > #nav-check {
  display: none;
}

/*** cards ****/

.container {
  display: flex;
  flex: 1;
  flex-flow: row wrap;
  align-items: center;
	justify-content: center;
}

$font-monospace: 'Source Code Pro', sans-serif;
$font-sans: 'Source Code Pro', monospace;
$font-awesome: 'Font Awesome 5 Free';

$base-duration: 250ms;

// colors
$primary: #f1c40f;
$accent: #46627f;
$white: rgb(240, 193, 193);

a {
	text-decoration: none;
  cursor: pointer;
}

button {
	text-decoration: none;
  cursor: pointer;
  background-color: transparent;
  border: none;
}

figure {
	position: relative;
	display: flex;
	align-items: flex-start;
	justify-content: center;
	width: 290px;
	height: 395px;
	padding: 20px 20px;
	background-position: center center;
	background-repeat: no-repeat;
  background-size: cover;
  background-image: url('https://picsum.photos/200');
	border-radius: 10px;
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
	transition: all 0.5s cubic-bezier(.25,.8,.25,1);
	overflow: hidden;
	&:before,
	&:after {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		//font-family: $font-awesome;
	}
	&:before {
		content: '';
		background-color: rgba(black,0.1);
		z-index: 0;
	}
	&:after {
		content: '';
		display: flex;
		align-items: center;
		justify-content: center;
		transition: all 0.5s cubic-bezier(.25,.8,.25,1);;
		overflow: hidden;
	}
	&:hover {
		background-size: 175%;
		&:after {
			content: '♣︎ Add Favorite';
			background-color: rgba($primary,0.9);
			color: white;
			font-size: 38px;
			z-index: 2;
		}
		.date {
			bottom: -59px;
		}
		figcaption {
			transform: translateY(-110%);
		}
	}    

	.date {
		position: absolute;
		bottom: 0;
		right: 30px;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		padding: 10px;
		background-color: rgba($primary,0.8);
		text-shadow: 1px 1px rgba(black,0.7);
		transition: all 0.5s cubic-bezier(.25,.8,.25,1);;
		span {
			color: white;
			line-height: 1;
			&:first-child {
				font-family: $font-monospace;
				font-size: 20px;
				font-weight: 900;
			}
			&:last-child {
				font-size: 14px;
				font-weight: 400;
			}
		}
	}

	figcaption {
		color: white;
		transition: all 0.5s cubic-bezier(.25,.8,.25,1);;
		z-index: 1;
		h4 {
			margin: 0 0 5px;
			font-family: $font-monospace;
			font-size: 24px;
			line-height: 1.35;
			text-shadow: 1px 1px rgba(black,0.7);
			> span {
				background-color: rgba($primary,0.8);
			}
		}
		p {
			margin: 0;
			line-height: 1.5;
      background-color: rgba(0,0,0,0.75);
      padding: 10px;
		}
	}
}

figure.favorite-off {
  &:hover {
		&:after {
			content: '♣︎ Add Favorite';
			background-color: rgba($primary,0.9);
		}
  }
}

figure.favorite-on {
  &:hover {
		&:after {
			content: '♣︎ Remove Favorite';
      background-color: rgba(0,0,0,0.9);
		}
  }
}

figure.favorite-on{
  .date {
    background-color: rgba(black,0.8);
    text-shadow: 1px 1px rgba(black,0.7);
    &:after {
      content: '♣︎';
    }
  }
}


/*** search bar ***/

.search_bar {
  padding-top: 20px;
  padding-bottom: 20px;
}

main {
  position: relative; 
  z-index: 1;
}

.srch_wrpr {
  width: 400px; 
  max-width: 400px; 
  height: 70px; 
  position: relative; 
  z-index: 1; 
}

.srch_sb_cnt {
  width: 70px; 
  height: 70px; 
  background-image: linear-gradient(120deg, #f1c40f 0%, #f1c40f 100%); 
  background-color: transparent; 
  position: absolute; 
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%); 
  overflow: hidden; 
  transition: all 0.4s ease-in-out 0s; 
  z-index: 0; 
  border-radius: 5px; 
}

.sech_txt_inpt {
  opacity: 0; 
  height: 50px; 
  left: 10px; 
  border-radius: 30px; 
  border: 0; 
  width: 94%; 
  padding: 0 60px 0 15px; 
  background-color: transparent; 
  color: #000; 
  font-size: 15px; 
  transition: all 0.4s ease-in-out 0s; 
}

.sech_txt_inpt:focus {
  letter-spacing: 2px;
  text-transform: uppercase;
}

.sech_txt_inpt:focus, .srch_btn:focus {
  outline: none;
}

.sech_txt_inpt, .srch_btn {
  position: absolute; 
  z-index: 1; 
  top: 50%; 
  transform: translateY(-50%); 
}

.srch_btn {
  width: 70px; 
  height: 70px; 
  right: 0; 
  background-image: linear-gradient(120deg, #f1c40f 0%, #f1c40f 100%); 
  background-color: transparent; 
  border:0; 
  transition: all 0.4s ease-in-out 0s; 
  font-size: 26px; 
  cursor: pointer; 
  color: #000; 
}

.srch_btn:after {
  position: absolute; 
  content: '\f00d'; 
  font-family: fontAwesome; 
  top: 50%; 
  transform: translateY(-50%) rotate(0deg); 
  right: 10px; 
  height: 30px; 
  width: 30px; 
  font-size: 28px; 
  z-index: -1; 
  visibility: hidden;
}

input.checkbox {
  position: absolute; 
  z-index: 1; 
  width: 70px; 
  height: 70px; 
  opacity: 0.0; 
  right: 30%; 
  top: 50%; 
  transform: translate(-50%, -50%); 
  transition: all 0.4s ease-in-out 0s; 
  cursor: pointer; 
}

input.checkbox:checked { 
  width: 30px; 
  height: 30px; 
  right: -14%; 
  transform: translate(-50%, -60%);
}

input.checkbox:checked ~ .srch_sb_cnt {
  width: 100%; 
  border-radius: 40px;
  background-color: #333; 
  overflow: visible;
}

input.checkbox:checked ~ .srch_sb_cnt .srch_btn { 
  width: 50px; 
  height: 50px; 
  right: 10px; 
  border-radius: 100%; 
  font-size: 20px; 
  background-image: linear-gradient(to top, #000 0%, #000 100%); 
  color: #fff;
  text-shadow: 1px 1px 2px rgba(0,0,0,0.2);
}

input.checkbox:checked ~ .srch_sb_cnt .sech_txt_inpt { 
  opacity: 1; 
}

input.checkbox:checked ~ .srch_sb_cnt .srch_btn:after {
  transform: translateY(-50%) rotate(90deg); 
  right: -50px; 
  visibility: visible; 
  transition: all .6s cubic-bezier(0.000, 0.105, 0.035, 1.570); 
  transition-delay: 0.5s; 
  color: white; 
}

/*** spiner ***/

.example {
  display: block;
  height: 200px;
  position: relative;
  letter-spacing: 0.5px;
}

.spinner::after {
  content: '';
  box-sizing: border-box;
  width: 40px;
  height: 40px;
  position: absolute;
  top: calc(50% - 20px);
  left: calc(50% - 20px);
  border-radius: 50%;
}

.spinner.smooth::after {
  border-top: 4px solid rgba(255, 255, 255, 1.0);
  border-left: 4px solid rgba(255, 255, 255, 1.0);
  border-right: 4px solid rgba(255, 255, 255, 0.0);
  animation: spinner .6s linear infinite;
}

@keyframes spinner {
  to {transform: rotate(360deg);}
}

@keyframes pulse {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1.0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes grow-pulse {
  0% {
    transform: scale(0.1);
    opacity: 0;
  }
  30% {
    opacity: 0.5;
  }
  60% {
    transform: scale(1.2);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

/*** about page animation ***/

.hero {
  position: relative;
  height: 100%;
  width: 100%;
}

.cube {
  position: absolute;
  top: 80vh;
  left: 45vw;
  width: 10px;
  height: 10px;
  border: solid 1px darken($primary, 8%);
  transform-origin: top left;
  transform: scale(0) rotate(0deg) translate(-50%, -50%);
  animation: cube 8s ease-in forwards infinite;
  
  &:nth-child(2n) {
    border-color: lighten($primary, 10%);
  }
  
  &:nth-child(2) {
    animation-delay: 2s;
    left: 25vw;
    top: 40vh;
  }
  
  &:nth-child(3) {
    animation-delay: 3s;
    left: 75vw;
    top: 50vh;
  }
  
  &:nth-child(4) {
    animation-delay: 4s;
    left: 90vw;
    top: 10vh;
  }
  
  &:nth-child(5) {
    animation-delay: 5s;
    left: 10vw;
    top: 85vh;
  }
  
  &:nth-child(6) {
    animation-delay: 6s;
    left: 50vw;
    top: 10vh;
  }
}

@keyframes cube {
  from {
    transform: scale(0) rotate(0deg) translate(-50%, -50%);   
    opacity: 1;
  }
  to {
    transform: scale(20) rotate(960deg) translate(-50%, -50%); 
    opacity: 0;
  }
}

/*** break points ***/

@media (max-width:600px) {
  .nav > .nav-btn {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 0px;
  }
  .nav > .nav-btn > label {
    display: inline-block;
    width: 60px;
    height: 60px;
    padding: 15px;
  }
  //.nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
    //background-color: rgba(0, 0, 0, 0.3);
  //}
  .nav > .nav-btn > label > span {
    display: block;
    width: 30px;
    height: 12px;
    border-top: 2px solid #eee;
    cursor: pointer;
  }
  .nav > .nav-links {
    position: absolute;
    display: block;
    width: 100%;
    background-color: #000;
    height: 0px;
    transition: all 0.3s ease-in;
    top: 60px;
    left: 0px;
    cursor: pointer;
    overflow: hidden;
  }
  .nav > .nav-links > a {
    display: block;
    width: 100%;
  }
  .nav > .nav-links > a:hover {
    background-color: #111;
  }
  .nav > #nav-check:not(:checked) ~ .nav-links {
    height: 0px;
  }
  .nav > #nav-check:checked ~ .nav-links {
    height: calc(100vh - 50px);
  }
}
